html {
    margin: 0 auto;
    min-height: 100%;
    font-family: 'Open Sans', sans-serif;
}
body {
    width: auto;
    height: 100%;
    background: linear-gradient(rgb(104, 168, 211), rgb(67, 69, 182) 100%);

}
input:hover {
    background-color: white !important;
}


.menu-cadastro {
    
    width: 350px;
    height: auto;
    background-color: white;
    margin-inline: 37%;
    margin-top: 6%;
    border-radius: 2%;

}
#formulario {
    height: auto;
    padding: 10px;
    margin: 10px;
}
input:focus, select:focus {
    outline: 0;
}
label {
    position: relative;
    top: 10px;
} 
.cep {
    position: relative;
    left: 28%;
}
input {
    margin-top: 8px;
}
.input1 {
    width: 95%;

}
.input2 {
    width: 45%;
}
#cel {
    margin-right: 1%;
}
select {
    background-color: rgb(201, 201, 201);
    border-width: 1.5px;
    border-color: rgb(37, 37, 37);
    margin-block: 9px;
}
#enviar {
    width: 80%;
    height: 60px;
    background-color: #2093e0;
    border: 0;
    border-radius: 8px;
    color: #fff;
    font-weight: 700;
    margin-top: 16px;
    display: inline-block;
    text-align: center;
    text-decoration: none;
    font-size: 18px;
    line-height: 60px;
    transition: filter 0.2s;
    cursor: pointer;
}

#enviar:hover {
    filter: brightness(75%);
  }
#endereco {
    display: none;
}
