html {
    margin: 0 auto;
    min-height: 100%;
    font-family: 'Open Sans', sans-serif;
}
body {
    width: auto;
    height: 100%;
    background: linear-gradient(rgb(104, 168, 211), rgb(67, 69, 182) 100%);

}
input:hover {
    background-color: white !important;
}


.menu-cadastro {
    
    width: 350px;
    height: auto;
    background-color: white;
    margin-inline: 37%;
    margin-top: 6%;
    border-radius: 2%;

}
#formulario {
    height: auto;
    padding: 10px;
    margin: 10px;
}
input:focus, select:focus {
    outline: 0;
} 
.cep {
    position: relative;
    left: 28%;
}
input {
    margin-top: 8px;
}
.input1 {
    width: 95%;

}
.input2 {
    width: 45%;
}
#cel {
    margin-right: 1%;
}
select {
    background-color: rgb(201, 201, 201);
    border-width: 1.5px;
    border-color: rgb(37, 37, 37);
    margin-block: 9px;
}
#enviar {
    margin-block: 14px;
    margin-inline: 30%;
    height: 26px;
    width: 40%;
    background-color: rgba(0, 174, 255, 0.685);
    border-radius: 4px;
    border-color: rgb(0, 62, 90);
}
/* .endereco {
    display: none;
} */
